################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
/brownbag/bin/*
/brownbag/obj/*
/.vs/brownbag/v14/.suo
